.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	padding: 0 40px 0 40px;
}
.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
	aspect-ratio: 1;
	border: 2px solid yellow;
	border-radius: 10px;
}
.settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	padding: 0 20px 0 20px;
}

.file-image {
	width: 100%;
	transition: filter 200ms ease;
}
.tanned-img {
	filter: blur(2px) brightness(0.4);
}

.scale-range {
	width: 70%;
}
.range-container {
	display: flex;
	justify-content: space-between;
}
.hidden {
	display: none;
}
.image-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 90%;
	height: 90%;
	background-color: rgba(232, 197, 56, 0.2);
	border: 2px dashed rgb(232, 197, 56);
	border-radius: 10px;
	color: #b5962f;
	opacity: 1;
	transition: all 250ms ease-in-out;
}
.image-label:hover {
	background-color: rgba(232, 197, 56, 0.3);
}

.download-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	text-decoration: none;
	width: 90%;
	height: 90%;
	background-color: rgba(232, 197, 56, 0.2);
	border: 2px solid rgb(232, 197, 56);
	border-radius: 10px;
	color: #b5962f;
	opacity: 0;
	transition: all 250ms ease-in-out;
}
.download-image:hover {
	background-color: rgba(232, 197, 56, 0.3);
}

.convert-btn {
	height: 40px;
	width: 100%;
	cursor: pointer;
	margin-bottom: 40px;
	border: none;
	border-radius: 5px;
	border: 2px solid #2f65b5;
	color: #2f65b5;
	background: none;
	transition: background 250ms ease-in-out;
}
.convert-btn:hover {
	background-color: rgba(47, 101, 181, 0.2);
}

.disabled-btn {
	color: black;
	border-color: black;
	cursor: default;
}
.disabled-btn:hover {
	background: none;
}

.range-label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #ffffff;
}

.label-with-image {
	opacity: 0;
}
.label-with-image:hover {
	cursor: pointer;
	opacity: 1;
}
.scale-range {
	width: 80%;
}

.checkboxes {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	color: #ffffff;
	font-size: 14px;
}
.check-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 33%;
}
.checkbox-label {
	display: flex;
	align-items: center;
	text-align: center;
}

@media (max-width: 480px) {
	.container {
		flex-direction: column;
	}
	.image-container {
		width: 100%;
	}
	.settings {
		width: 100%;
	}
}
